p {
    padding: 30px;
    font-size: 100px;
    text-align: center;
}

.o1 {
    background: url(/task4/pic3.jpeg) repeat-y;
}

.o2 {
    background: url(/task4/pic2.jpeg) repeat-y right;
}

.o3 {
    background: url(/task4/pic4.jpeg) repeat-x;
}

.o4 {
    background: url(/task4/pic4.jpeg) repeat-x bottom;
}

.r1 {

    background: url(/task4/pic1.jpeg) no-repeat;
}

.r2 {

    background: url(/task4/pic5.jpeg) no-repeat left bottom;
}

.r3 {

    background: url(/task4/pic7.jpeg) no-repeat right top;
}

.r4 {

    background: url(/task4/pic6.jpeg) no-repeat right bottom;
}