.h1 {
    border: 1px solid white;
    column-span: 3;
    text-align: center;
    padding: 22px;
    background-color: skyblue;
}
.left2 {
    font-weight: bold;
}
.left1 {
    width: 25px;
    list-style-type: disc;
    background-color: lemonchiffon;
    border: 1px solid white;
}