table {
    width: 500px;
    text-align: center;
    border: 1px solid white;
}
.h1 {
    border: 1px solid white;
    text-align: center;
    padding: 22px;
    background-color: skyblue;
}
.left2 {
    font-weight: bold;
    font-size: 15px;
}
.left1 {
    width: 25px;
    list-style-type: disc;
    background-color: lemonchiffon;
    border: 1px solid white;
}
.right1 {
    border: 1px solid white;
}
h1 {
    text-align: center;
}
img  {
    float: left;
    width: 220px;
}
.h1 {
    border: 1px solid white;
    /* text-align: center; */
    padding: 22px;
    background-color: skyblue;
    vertical-align:bottom;
}
