table {
    width: 700px;
    height: 500px;
    text-align: center;
    border: 1px solid white;
}
.h1 {
    border: 1px solid white;
    text-align: center;
    padding: 22px;
    background-color: skyblue;
    color: steelblue;
}

.left2 {
    font-weight: bold;
    font-size: 15px;
}
.left1 {
    width: 25px;
    list-style-type: disc;
    background-color: lemonchiffon;
    border: 1px solid white;
    padding: 30px;
    text-align: left;
}

img  {
    float: left;
    width: 220px;
}
ul {
    list-style-type: disc;
}